<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>게시물 목록</title>
</head>
<body>
<h1>게시물 목록</h1>

{% if user.is_authenticated %}
<p>
  <a href="{% url 'post_create' %}">글 작성</a>

  <form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">로그아웃</button>
  </form>
</p>
{% else %}
  <p>
    <a href="{% url 'login' %}?next={% url 'post_list' %}">로그인</a>
    <a href="{% url 'signup' %}">회원가입</a>
  </p>
{% endif %}
<hr>

<ul>
  {% for post in posts %}
  <li>
    <strong>{{ post.title }}</strong>
    <a href="{% url 'post_detail' post.pk %}">세부 보기</a>
    <br>
    {{ post.content }}
    <br>
    <small>{{ post.created_at }}</small>
    <br>
    <small>{{ post.author.username }}</small>
  </li>
  <hr>
  {% empty %}
  <li>게시글이 없습니다.</li>
  {% endfor %}
</ul>


</body>
</html>